<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="a3bfae0e-006e-4466-8924-72dd8db283d6" Publisher="CN=Gjuro" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="a3bfae0e-006e-4466-8924-72dd8db283d6" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>MainScreen</DisplayName>
    <PublisherDisplayName>Gjuro</PublisherDisplayName>
    <Logo>Assets\OilSweeper_50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MainScreen.App">
      <m3:VisualElements DisplayName="OilSweeper" Square150x150Logo="Assets\OilSweeper_150x150.png" Square44x44Logo="Assets\OilSweeper_44x44.png" Description="MainScreen" ForegroundText="light" BackgroundColor="black">
        <m3:DefaultTile Square71x71Logo="Assets\OilSweeper_71x71.png">
        </m3:DefaultTile>
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>